.aboutAll {
  background-color: #f2f2f2;
  #img-about {
    margin-left: 4.35%;
    margin-right: 4.35%;
    padding-top: 5%;
    height: 70vh;
    width: 90vw;
  }
  .content-about {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    p {
      font-weight: lighter;
      font-size: 2.5vw;
      letter-spacing: 1px;
      em {
        font-size: 3.4vw;
        font-weight: 600;
      }
    }
  }
  .projectAll {
    #img-project {
      margin-left: 4%;
      margin-right: 8.8%;
      text-align: center;
      width: 90vw;
      height: 30vh;
    }
    #img-lockdown {
      width: 90vw;
      height: 55vh;
      margin-top: 4%;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 10%;
    }
    .title {
      display: flex;
      margin-left: 7%;
      h2 {
        padding-top: 3px;
        font-size: 32px;
        font-weight: 600;
      }
    }
    .content {
      margin-top: 3%;
      margin-left: 5%;
      margin-right: 5%;
      p {
        font-weight: lighter;
        font-size: 2.5vw;
        letter-spacing: 1px;
        em {
          font-size: 3.4vw;
          font-weight: 600;
        }
      }
    }
  }
  .contact-form {
    background: #a5c6cd;
    width: 598px;
    height: 520px;
    align-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 35%;
    padding: 2%;

    form {
      .inputContainer {
        height: 60px;
        width: 80%;
        margin-bottom: 60%;
        margin-left: 10%;
        //   margin-right: 10%;

        input {
          height: 50px;
          width: 100%;
          border: 1px solid blue;
          margin-bottom: 50px;
          border-radius: 4px;
          font-size: 22px;
          background: #ffffff;
        }

        label {
          padding: 0px;
          margin: 0;
          color: blue;
          font-size: 16px;
        }
      }

      .send {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background: #000000;
        color: #ffffff;
        font-weight: 700;
        font-size: 24px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 0.601508px;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .aboutAll {
    #img-about {
      height: 35vh;
    }
    .projectAll {
      #img-project {
        height: 15vh;
      }
      #img-lockdown {
        height: 30vh;
      }
    }
  }
}
