.aboutAll {
  background-color: #f2f2f2;
  #img-about {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    height: 70vh;
    width: 90vw;
  }
  .content-about {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    p {
      font-weight: lighter;
      font-size: 1.2rem;
      letter-spacing: 1px;
      em {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }
  .projectAll {
    #img-project {
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      width: 90vw;
      height: 30vh;
    }
    #img-lockdown {
      width: 90vw;
      height: 55vh;
      margin-top: 4%;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 10%;
    }
    .title {
      display: flex;
      margin-left: 7%;
      h2 {
        padding-top: 3px;
        font-size: 32px;
        font-weight: 600;
      }
    }
    .content {
      margin-top: 3%;
      margin-left: 5%;
      margin-right: 5%;
      p {
        font-weight: lighter;
        font-size: 1.2rem;
        letter-spacing: 1px;
        em {
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
    }
  }
  .contact-form {
    background: #a5c6cd;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 30%;
    padding: 2%;
    margin-bottom: 3%;

    form.inputContainer {
      padding-left: 10%;
      width: 80%;

      input {
        margin-bottom: 10%;
        width: 100%;
        line-height: 40px;
        margin-right: 5%;
        border: 1px solid blue;
        border-radius: 4px;
        font-size: 1rem;
      }

      label {
        color: blue;
        font-size: 1rem;
      }
    }

    .send {
      width: 80%;
      margin-left: 10%;
      background: #000000;
      color: #ffffff;
      font-weight: 700;
      font-size: 1rem;
      line-height: 38px;
      letter-spacing: 0.601508px;
      text-transform: uppercase;
      margin-top: 20px;
    }

    .send:hover {
      background: #2d2c2c;
    }
  }
}

@media screen and (max-width: 800px) {
  .aboutAll {
    #img-about {
      height: 35vh;
    }
    .projectAll {
      #img-project {
        height: 15vh;
      }
      #img-lockdown {
        height: 30vh;
      }
    }
  }
}
