.footer {
  width: 100%;
  min-height: 300px;
  bottom: 0;
  text-decoration: none;
  background-color: #215097;
  display: flex;
  align-items: center;
  justify-content: center;
  .ftr-info {
    margin-left: 10%;
    .info_box {
      text-align: left;
      display: flex;
      .info_icon{
        padding-right: 1vw;
      }
    }
    .info_copyright {
      margin-bottom: 3%;

    }
  }
  .ftr-menu {
    white-space: nowrap;
  }
  p {
    position: relative;
    padding-bottom: 2%;
    margin-right: 64px;
    color: white;
    font-size: 1rem;
    a {
      text-decoration: none;
      color: white;
    }
    span {
      display: block;
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    min-height: 200px;
    .ftr-info {
      margin-bottom: 2%;
      font-size: 0.7rem;
    }
    .ftr-menu{
      font-size: 0.7rem;
    }

  }
}
