.footer {
  width: 100%;
  min-height: 300px;
  bottom: 0;
  text-decoration: none;
  background-color: #215097;
  display: flex;
  align-items: center;
  justify-content: center;
  .ftr-info {
    margin-top: 0.5%;
    margin-left: 10%;
    .info_box {
      text-align: left;
    }
    .info_copyright {
      margin-bottom: 3%;
      margin-left: -30px;
    }
  }
  .ftr-menu {
    white-space: nowrap;
  }
  p {
    position: relative;
    padding-bottom: 2%;
    margin-right: 64px;
    color: white;
    font-size: 1.8vw;
    a {
      text-decoration: none;
      color: white;
    }
    span {
      display: block;
      // background-color:green;
      // border: 1px solid black;
      margin-top: 2rem;
    }
  }
  // .ftr-network {
  //     background-color: rebeccapurple;
  //     border: 1px solid black;
  // }
}

@media screen and (max-width: 800px) {
  .footer {
    min-height: 200px;
    .ftr-info {
      margin-bottom: 2%;
    }
    p {
      // font-size: 0.8rem;
    }
  }
}
