.footer {
  width: 100%;
  min-height: 350px;
  bottom: 0;
  // left: 0;
  // right: 0;
  text-decoration: none;
  //   position: relative;
  background-color: #215097;
  display: flex;
  align-items: center;
  justify-content: center;
  .ftr-info {
    margin-left: 10%;
    .info_box {
    }
  }
  p {
    position: relative;
    padding-bottom: 2rem;
    // padding-top: ;
    margin-right: 64px;
    color: white;
    font-size: 1.1rem;
    a {
      text-decoration: none;
      color: white;
    }
    span {
      display: block;
      // background-color:green;
      // border: 1px solid black;
      margin-top: 2rem;
    }
  }
  // .ftr-network {
  //     background-color: rebeccapurple;
  //     border: 1px solid black;
  // }
}

@media screen and (max-width: 800px) {
  .footer {
    height: 300px;
    .ftr_info {
    }
    p {
      font-size: 0.8rem;
    }
  }
}
