.footer{
    width: 100%;
    height: 380px;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    position: absolute;
    background-color: #215097;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    .logo{
        width: 355.19px;
        height: 70px;
        margin-left: 64px;
    }
    p{  
        position: relative;
        padding-bottom: 2rem;
        // padding-top: ;
        margin-right: 64px;
        color: white; 
        font-size: 1rem;
        a{
            text-decoration: none;
            color: white;
        }
        span{
            display: block;
            // background-color:green;  
            // border: 1px solid black;
            margin-top: 2rem;
        }
    }
    // .ftr-network {
    //     background-color: rebeccapurple;
    //     border: 1px solid black;
    // }
}