.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 92px;
  align-items: center;
  background-color: #215097;
  .logo {
    margin-left: 15%;
    width: 300px;
    height: 80px;
  }
  .nav_toggler {
    display: none;
    color: white;
    font-size: 2.5rem;
    margin-right: 3%;
  }

  .nav_menu {
    display: flex;
    list-style-type: none;
    margin-right: 4%;
    .nav_item {
      margin: 0 2rem;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 900;
      }
    }
  }
}
.nav_fixed {
  display: relative;
  height: 92px;
}

@media screen and (max-width: 800px) {
  .nav {
    .nav_menu {
      display: none;
    }
    .nav_item {
      height: 50px;
      border-top: 1.5px solid white;
      a {
      }
      a:hover {
        color: #f8e60b;
      }
    }
  }
  .nav_active {
    display: flex !important;
    flex-direction: column;
    // align-items: center;
    text-align: center;
    background-color: #215097;
    width: 100%;
    top: 92px;
    position: absolute;
  }
  .nav_toggler {
    display: flex !important;
    align-self: center;
    margin-left: 90%;
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 2.5rem;
  }
}
