.projectAll{
    background-color: #F2F2F2;
}
#img-project {
    margin-left: 10%;
    text-align: center;
    // margin-right: 160px;
    margin-top: 180px;
    margin-bottom: 100px;
    // margin-left: ;
    width: 80vw;
    height: 24vh;
}
#img-lockdown{
    width: 90vw;
    height: 55vh;
    margin-top: 60px;
    margin-left: 5%;

    margin-bottom: 200px;
}
.title{
    display: flex;
    margin-left:7%;
    h2{
        padding-top: 3px;
        font-size: 32px;
        font-weight: 600;
    }
    // img{
    //     height: 30px;
    //     width: 30px;
    // }
}
.content{
    p{  
        margin-left:7%;
        margin-right:7%;
        margin-top: 15px;
        margin-bottom: 100px;
        font-size: 22px;
        font-weight: lighter;
        letter-spacing: 1px;

    }
}