.card {
  .card_container {
    padding-left: 5%;
    padding-right: 10%;
    // margin-left: 10%;
    // margin-right: 10%;

    .card_imgBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30vw;
      height: 46vw;
      margin-top: 3%;
      margin-bottom: 30px;
      background-color: #c8c9d0;
      .card_img {
      }
    }
    .card_info {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 2%;
      padding-left: 2%;
      padding-right: 2%;
      h2 {
        font-size: 2vw;
        letter-spacing: 0.4px;
        font-weight: 300;
        line-height: normal;
      }
      .card_shopNow {
        position: absolute;
        width: 15vw;
        height: 3vw;
        margin-left: 6.8%;
        padding-left: 2%;
        padding-right: 2%;
        border: 0.5px solid black;
        background-color: #E3E44E;
        margin-top: 10%;
        font-size: 1.5vw;
        text-decoration: none;
        font-weight: 400;
        color: black;
        a {
          text-decoration: none;
          font-weight: 400;
          color: black;
        }
      }
      .card_shopNow:hover {
        color: rgb(201, 211, 211);
        cursor: pointer;
      }
      .price {
        margin-top: 3%;
      }
    }
  }
}

.shopAll {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  #img_shop {
    margin-left: 5%;
    margin-right: 5%;
    width: 90vw;
    height: 75vh;
  }
  .shopTitle {
    font-weight: 500;
    font-size: 2rem;
    line-height: 43px;
    text-align: center;
    width: 80%;
    padding-left: 10%;
    letter-spacing: 0.06em;
    color: #203A70;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .shopIntro {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33vw, 1fr));
    // grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .shopAll {
    .shopTitle {
      font-size: 1.3rem;
    }
    #img_shop {
      height: 38vh;
    }
  }
  .card {
    .card_container {

      .card_imgBox {
        .card_img {
        }
      }
      .card_info{
        .card_shopNow{
          a {
            font-size: 1.4vw;
          }
        }
      }
    }
  }
}
