.card {
  .card_container {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    .card_imgBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 450px;
      height: 550px;
      margin-bottom: 30px;
      margin-left: 5%;
      margin-right: 5%;
      padding-top: 20px;
      border-radius: 20px;
      background-color: #959292;
      .card_img {
        // margin-bottom: 30px !important;
      }
    }
    .card_info {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 2%;
      padding-left: 2%;
      padding-right: 2%;
      h2 {
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 300;
        line-height: normal;
      }
      .card_shopNow {
        text-decoration: none;
        margin-left: 8%;
        margin-right: 8%;
        padding-top: 10%;
        font-weight: 600;
        font-size: 24px;
        color: black;
      }
      .card_shopNow:hover {
        color: rgb(201, 211, 211);
        cursor: pointer;
      }
      .price {
        margin-top: 3%;
      }
    }
  }
}

.shopAll {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  #img_shop {
    margin-bottom: 0;
    margin-left: 4.35%;
    margin-right: 4%;
    width: 90vw;
    height: 75vh;
  }
  .shopTitle {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-style: italic;
    font-weight: 200;
    font-size: 3vw;
  }
  .shopIntro {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding-top: 2%;
    font-weight: 200;
    font-size: 1.8vw;
  }
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
