.card_img {
    img { 
    width: 300px;
    height: 250px;    }
}
.shopAll{
    background-color: #F2F2F2;
    .title{
        width: 100%;
        justify-content: center;
    }
    .shopTitle{
        margin-top: 158px;
        font-style: italic;
        font-weight: 200;
        font-size: 34px;
        margin-bottom: 200px;
    }
}
